@charset "UTF-8";
/* line 8, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav {
  position: relative;
  z-index: 1;
  height: 80px;
  background-color: #ffffff;
}

/* line 14, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .div_burger {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 19, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .div_burger div:last-child {
  width: 50px;
  height: 60px;
  line-height: 80px;
  margin-right: 15px;
}

/* line 25, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .div_burger div:last-child div {
  background-color: #b3d143;
  height: 50px;
  margin-top: 15px;
}

/* line 30, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .div_burger div:last-child div img {
  padding-bottom: 40px;
}

/* line 37, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .logo {
  display: flex;
}

/* line 40, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .logo div {
  order: 1;
  line-height: 80px;
  margin: 0;
}

/* line 45, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .logo div img {
  width: 50px;
}

/* line 50, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .logo span:first-of-type {
  padding-left: 10px;
  font-family: 'Lato';
  font-size: 25px;
  line-height: 80px;
}

/* line 57, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .logo span:last-child {
  order: 2;
  font-size: 25px;
  line-height: 80px;
  font-family: 'Shadows';
}

/* line 65, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav .affiche {
  display: flex;
}

/* line 69, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav ul {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0;
}

/* line 75, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav ul li {
  list-style: none;
  line-height: 80px;
  width: 100%;
  text-align: center;
}

/* line 81, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

/* line 89, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav ul li a:hover {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

/* line 96, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1089px) {
  /* line 106, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
  nav .div_burger {
    display: none;
  }
  /* line 110, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /* line 115, ../César/Documents/MIW/Integration/github/2020_enercol/scss/_navbar.scss */
  nav ul li {
    display: inline-flex;
  }
}

@font-face {
  font-family: 'Anton';
  src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-black';
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Shadows';
  src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}

/*# sourceMappingURL=style.css.map */