//couleurs
$marron: rgb(195,165,117);
$orange: rgb(252,183,49);
$bleu: rgb(0,175,236);
$vertClair: rgb(179,209,67);
$vertFonce: rgb(100,123,34);
$grisClair: rgb(232,221,202);
$grisFonce: rgb(109,111,113);

@import 'navbar';

@font-face {
  font-family: 'Anton';
  src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-black';
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Shadows';
  src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}
